.slick-arrow {
	background-color: green;
}
.slick-list {
	height: 500px;
}
.slick-dots {
	display: flex;
	justify-content: center;
}
.slick-dots button {
	width: 14px;
	height: 14px;
	border-radius: 100%;
	border: 2px solid #1897D4;
	background: #fff;
	margin-right: 5px;
	outline: none;
	font-size: 0px;
	padding: 0;
	cursor: pointer;

}
.slick-active button {
	background: #1897D4;
}
.slider-item {
	outline: none;
}