.slick-arrow {
	background-color: green;
}
.slick-list {
	height: 560px;
}
.slick-dots {
	display: flex;
	justify-content: center;
	    position: absolute;
    bottom: 0;
    width: 100%;
}
.slick-dots button {
	width: 14px;
	height: 14px;
	border-radius: 100%;
	border: 2px solid #1897D4;
	background: #fff;
	margin-right: 5px;
	outline: none;
	font-size: 0px;
	padding: 0;
	cursor: pointer;

}
.slick-active button {
	background: #1897D4;
}
.slider-item {
	outline: none;
	position: relative;
}
.slider-wave {
	height: 97px;
	width: 100%;
	position: absolute;
	bottom: 0;
	background-image: url('../images/wave.png');
	background-repeat: repeat-x;
}
.slick-track {
	height: 100%;
}
